<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.varejodigital" >

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.varejodigital.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.varejodigital.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.varejodigital.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".activities.EmployeeDetailActivity"-->
            <!--android:label="@string/title_activity_employee_detail"-->
            <!--android:parentActivityName="com.varejodigital.MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.varejodigital.MainActivity" />-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".activities.ProductDetailActivity"-->
            <!--android:label="@string/title_activity_product_detail"-->
            <!--android:parentActivityName="com.varejodigital.MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.varejodigital.MainActivity" />-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".activities.LineChartActivity"-->
            <!--android:label="@string/title_activity_chart"-->
            <!--android:parentActivityName="com.varejodigital.MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.varejodigital.MainActivity" />-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".activities.LoginActivity"-->
            <!--android:label="@string/title_activity_login" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".activities.SignUpActivity"-->
            <!--android:label="@string/title_activity_sign_up" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".activities.LoginActivity" />-->
        <!--</activity>-->

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.varejodigital" />
            </intent-filter>
        </receiver>

        <!--<activity-->
            <!--android:name=".activities.BillingByDateActivity"-->
            <!--android:label="@string/title_activity_billing_by_date" >-->
        <!--</activity>-->
    </application>

</manifest>
